.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: #283c47;
  height: 100%;
  color: #778b8d;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  /* padding-bottom: 150px; */
  margin: 0;
}

.top_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 10px;
}

.nav_link {
  margin: 10px;
  text-decoration: none;
  color: #8d8d8d;
  font-size: 1.25rem;
}

.nav_link:hover {
  color:#2759fc;
  text-decoration: none;
  font-size: 1.5rem;
}

.intro {
  margin-bottom: 100px;
}

.profileImg {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

h1 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  margin-top: 50px;
}

h2 {
  font-size: 2rem; 
  margin-top: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

p, ul, h4 {
  color: #fff;
}

.about {
  margin: 100px;
}

.skills {
  margin: 100px;
}

.skill_icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #2759fc;
  margin-bottom: 0;
}

.skill_icon:hover {
  font-size: 4rem;
}

.skill_icon p {
  display: none;
}

.skill_icon:hover p {
  font-size: .75rem;
  display: block;
  text-align: center;
  margin-top: -25px;
}

.projects {
  margin: 100px;
}

.carousel-item {
  margin: auto;
  height: auto;
}

.d-block {
  width: 20%;
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.75);
  width: 500px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.carousel-caption p {
  font-size: 1rem;
  margin: 0;
}

.experience {
  margin: 100px;
}


.contact {
  text-align: center;
  margin: 100px;
  font-size: 2rem;
}

.connect-links a {
  margin: 10px;
}

footer {
  text-align: center;
}