.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  cursor: pointer;
  background: linear-gradient(#e9cbe0, #dfdfdf);
  height: 100%;
  color: #747474;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  margin: 0;
}

.top_nav {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  font-size: 5rem;
  margin-top: 0;
  margin-right: 50px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  color: rgb(98, 140, 126);
  align-items: center;
  margin-top: 0;
  color: #747474;
}

.intro {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;

}

.profileImg {
  margin-right: 100px;
  align-self: center;
  max-width: 100%;

}

h1 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  color:rgb(85, 172, 172);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 30px;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}

p,
ul,
h4 {
  color: rgb(0, 0, 0);
}

a {
  color:#747474;
}

a:hover {
  color:rgb(85, 172, 172);
 }

section {
  margin: 50px;
}

.aboutMe {
  padding-top: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  font-size: 60px;
  background: rgb(85, 172, 172);
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px rgb(46, 46, 46);
}

.back-to-top:hover {
  background: rgb(242, 177, 220);
}

.skill_icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: rgb(85, 172, 172);
  margin-bottom: 0;
}

.skill_icon:hover {
  font-size: 4rem;
}

.skill_icon p {
  display: none;
}

.skill_icon:hover p {
  font-size: 0.75rem;
  display: block;
  text-align: center;
  margin-top: -25px;
}

.carousel-item {
  margin: auto;
  height: auto;
}

.d-block {
  width: 20%;
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.75);
  width: 500px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.carousel-caption p {
  font-size: 1rem;
  margin: 0;
}

.carousel-item p {
  color: white;
}
.carousel-item .demo {
  color:black;
}

.formal_ed {
  margin-bottom: 50px;
}

.contact {
  text-align: center;
  font-size: 2rem;
}

.connect-links a {
  margin: 10px;
  color:rgb(85, 172, 172);
}

.connect-links a:hover {
  color:rgb(242, 177, 220);
}
footer {
  text-align: center;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .top_nav {
    display: block;
  }
  .brand {
    text-align: center;
    font-size: 4rem;
    margin: auto;
  }

  .nav-link {
    align-self: center;
    margin: auto;
    flex-direction: column;
  }

  .intro {
    margin-bottom: 100px;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hamburger {
    display: fixed;
    margin: auto;
  }

  .back-to-top {
    font-size: 45px;
    right: 20px;
  }
}

@media screen and (max-width: 1064px) {
  .d-block {
    width: 50%;
    margin: auto;
  }
  .intro{
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top: 25px;
  }
  .profileImg {
    max-width: 90%;
    margin: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 915px) {
  .main {
    margin: auto;
    padding: 10px;
  }
  .profileImg {
    max-width: 100%;
  }
  .d-block {
    width: 50%;
    margin: auto;
  }

  
}